<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>ABWL & Recht Quiz</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    
    <!-- <script src='main.js'></script> -->
</head>
<body>
    <div>User: {{ username }}</div>
    <button id="cont">Fortfahen</button>
    <button id="quit">Beenden</button>

    <script>
        $('#cont').click(function() {
            window.location.href = '/quiz/{{ username }}';
        });
        $('#quit').click(function() {
            window.location.href = 'https://www.youtube.com/watch?v=dQw4w9WgXcQ';
        });
    </script>
</html>